body {
  background-color: #3e8013ab;
  background-image: url("../img/background_texture.png");
  background-repeat: repeat;
  /* Full height */
  height: 100%;
}
#test {
  width: 100%;
}
#game {
  position: fixed;
  position: fixed;
  top: 50%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);

  justify-content: center;
}

#buttons_list {
  display: inline-flex;
  width: 100%;
  list-style-type: none;
  margin: 0 auto;
  justify-content: center;
}

#commands {
  position: fixed;
  top: 80%;
  width: 100%;
  bottom: 10%;
}

.button {
  width: 300px;
  height: 200px;
  font-size: xx-large;
  border-radius: 15%;
  border: 3px solid #f7d909;
  background-color: rgba(255, 255, 255, 0.603);
}

@media only screen and (max-device-width: 1000px) {
  .button {
    width: 100px;
    height: 80px;
    font-size: large;
  }
}
